/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "tahoma", geneva, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 300px;
	width: 300px;
	background: red;
	color: white;
	margin: 10px;

	/* comment out 'float: left;' to have items stack in a single column */
	 float: left; 

	 uncomment this to get CSS transitions (conflicts with jQuery) */
	/* transition: all 500ms ease; */
}

/* button 1 */

#button-1:hover {
	transform: rotate(180deg) scale(.5);
	opacity: .3;
	width: 300px;
}

#button-1:active {
	background: pink;
	opacity: 1;
	background-image: url('../photos/gaga.jpg');
}

/* button 2 */

#button-2 {
	color: white;
}


#button-2:hover {
	color: yellow;
	border-radius: 300px;
}

/* button 3 */

#button-3 {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
	color: white;
}


#button-3:active {
	color: yellow;
	transform: skewX(50deg);
	font-size: 50px;
}

/* button 4 */

#button-4 {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
	color: white;
}

#button-4:hover {
background-image: url('../photos/katy.jpg');
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 border: none;
 color: yellow;
 font-size: 38px;
 -webkit-transform: rotateX(40.10704565915762deg) rotateY(-27.501974166279513deg)   ;
 transform: rotateX(40.10704565915762deg) rotateY(-27.501974166279513deg)   ;
}

/* button 5 */

#button-5 {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
	color: white;
}

#button-5:active {
  color: yellow;
  transform: translateY(500px);
}

/* button 6 */

#button-6 {
	color: white;
}

#button-6:active {
  color: yellow;
  border: 50px double;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* button 7 */

#button-7 {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
	color: white;
}

#button-7:active {
  color: yellow;
  height: 1px;
}

/* button 8 */

#button-8 {
	transition:All 1s ease-in;
    -webkit-transition:All 1s ease-in;
    -moz-transition:All 1s ease-in;
    -o-transition:All 1s ease-in;
	color: white;
}

#button-8:hover {

color: yellow;
transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
}

/* button 9 */

#button-9 {
	transition:All 1s ease-in;
    -webkit-transition:All 1s ease-in;
    -moz-transition:All 1s ease-in;
    -o-transition:All 1s ease-in;
	color: white;
}

#button-9:hover {

color: yellow;
transform: rotate(53deg) scale(0.753) skew(35deg) translate(41px);
-webkit-transform: rotate(53deg) scale(0.753) skew(35deg) translate(41px);
-moz-transform: rotate(53deg) scale(0.753) skew(35deg) translate(41px);
-o-transform: rotate(53deg) scale(0.753) skew(35deg) translate(41px);
-ms-transform: rotate(53deg) scale(0.753) skew(35deg) translate(41px); }

/* button 10 */

#button-10 {
	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
	color: white;
}

#button-10:active {
    transform: rotateY(130deg);
}

/* button 11 */

#button-11 {
	color: white;
	background-color: white;
}

#button-11:active{
	color: yellow;
	background-color: red;
}

/* button 12 */

#button-12 {
	
}

#button-12:active{
	color: yellow;
	background-color: red;
}

/* button 13 */

#button-13 {
	
}

#button-13:active{
	color: yellow;
	background-color: red;
}

/* button 14 */

#button-14 {
	
}

#button-14:active{
	color: yellow;
	background-color: red;
-moz-transform: translateX(400px) translateY(200px);
-webkit-transform: translateX(400px) translateY(200px);
-o-transform: translateX(400px) translateY(200px);
-ms-transform: translateX(400px) translateY(200px);
transform: translateX(400px) translateY(200px);
}

/* button 15 */

#button-15 {
	
}

#button-15:active{
	color: yellow;
	background-color: red;
}

/* button 16 */

#button-16 { 	

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
	
}

#button-16:hover{
	color: yellow;
	background-color: red;
    height: 20px;
    width: 20px;
}

/* button 17 */

#button-17 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-17:hover{
	color: yellow;
	background-color: #FFA500;
}

/* button 18 */

#button-18 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-18:hover{
	color: yellow;
-webkit-box-shadow: 5px 5px 60px 2px #000000;
box-shadow: 5px 5px 60px 2px #000000;
}

/* button 19 */

#button-19 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-19:hover{
	color: yellow;
  -webkit-transform: rotateX(32.65859432245692deg) rotateY(-15.469860468532229deg)  translateX(43px) translateY(-108px) ;
  transform: rotateX(32.65859432245692deg) rotateY(-15.469860468532229deg)  translateX(43px) translateY(-108px) ;
}

/* button 20 */

#button-20 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-20:hover{
	color: yellow;
    height: 2000px;
    width: 2000px;
}

/* button 21 */

#button-21 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-21:hover{
	color: yellow;
  -webkit-transform: rotateX(16deg) rotateY(89deg) rotateZ(548.3206099401979deg)   ;
  transform: rotateX(16deg) rotateY(89deg) rotateZ(548.3206099401979deg)   ;
}

/* button 22 */

#button-22 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-22:hover {
	color: yellow;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

/* button 23 */

#button-23 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-23:hover{
	color: yellow;
	background-color: red;
}

/* button 24 */

#button-24 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-24:hover{
	color: yellow;
  -webkit-transform: rotateY(360deg)   ;
  transform: rotateY(360deg)   ;
}

/* button 25 */

#button-25 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}


#button-25:hover {
  color: yellow;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* button 26 */

#button-26 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-26:hover{
	color: yellow;
	background-color: red;
}

/* button 27 */

#button-27 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-27:active{
	color: yellow;
	background-color: red;
  -webkit-transform:   translateX(127px) translateY(-47px) translateZ(36px) ;
  transform:   translateX(1207px) translateY(-407px) translateZ(36px) ;
}

/* button 28 */

#button-28 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-28:active {
	color: yellow;
	background-color: #FFFFFF;
}

/* button 29 */

#button-29 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-29:hover {
	color: yellow;
	background-color: red;
	-webkit-border-radius: 100px;
    border-radius: 500px;
    -webkit-transform: rotateY(360deg)   ;
    transform: rotateY(360deg)   ;
}

/* button 30 */

#button-30 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-30:active {
	color: yellow;
	background-color: red;
	background-image: url('../photos/poot.jpg');
	-webkit-border-radius: 100px;
    border-radius: 500px;
    -webkit-transform: rotateY(360deg)   ;
    transform: rotateY(360deg)   ;
}

/* button 31 */

#button-31 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-31:active {
	color: yellow;
	background-color: red;
}

/* button 32 */

#button-32 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-32:active {
	color: yellow;
	background-color: red;
}

/* button 33 */

#button-33 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-33:active {
	color: yellow;
	background-color: #FFFFFF;
	height: 3000px;
	width: 3000px;
	-webkit-transform:   translateX(127px) translateY(-47px) translateZ(36px) ;
  transform:   translateX(0px) translateY(-407px) translateZ(36px) ;
}

/* button 34 */

#button-34 {

	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
}

#button-34:hover {
	color: yellow;
	background-color: red;
	background-image: url('../photos/dog.jpg');
    -webkit-transform: rotateX(360deg)   ;
    transform: rotateX(360deg)   ;
}

/* button 35 */

#button-35 {

}

#button-35:hover {
	color: yellow;
	background-color: red;
	cursor: pointer;
}

/* button 36 */

#button-36 {

}

#button-36:hover {
	color: yellow;
	background-color: red;
	outline: 10px groove yellow;
}

/* button 37 */

#button-37 {
overflow:hidden;height:300px; 

}

#button-37:hover {
	color: yellow;
	background-color: red;
	overflow-y:scroll;
}

/* button 38 */

#button-38 {

}

#button-38:hover {
	color: yellow;
	background-color: red;
}

/* Dropdown Button */
.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* button 39 */

#button-39 {

}

#button-39:hover {
	-moz-transform: skewX(600deg) skewY(600deg);
-webkit-transform: skewX(600deg) skewY(600deg);
-o-transform: skewX(600deg) skewY(600deg);
-ms-transform: skewX(600deg) skewY(600deg);
transform: skewX(600deg) skewY(600deg);
	color: yellow;
	background-color: red;
}

/* button 40 */

#button-40 {

}

#button-40:active {
	-moz-transform: scale(.25) rotate(360deg);
-webkit-transform: scale(.25) rotate(360deg);
-o-transform: scale(.25) rotate(360deg);
-ms-transform: scale(.25) rotate(360deg);
transform: scale(.25) rotate(360deg);
	color: yellow;
	background-color: red;
}

/* button 41 */

#button-41 {

}

#button-41:hover {
	color: yellow;
	background-color: red;
	text-shadow: 5px 5px 2px #000000;
}
 /*button 42 */

 #button-42 {
	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;

 }

 #button-42:active {
 	color: yellow;
 	background-color: red;
 		-moz-transform: scale(.25) rotate(360deg);
-webkit-transform: scale(.25) rotate(360deg);
-o-transform: scale(.25) rotate(360deg);
-ms-transform: scale(.25) rotate(360deg);
transform: scale(.25) rotate(360deg);
	left: 500px;
	right: 600px;
 }

 /*button 43 */

 #button-43 {

 	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;
 }

 #button-43:hover {
 	color: yellow;
 	background-color: red;
 	-webkit-transform:   translateX(-1000px) translateY(-500px) translateZ(36px) ;
 	-webkit-transform:   translateX(-1000px) translateY(-500px) translateZ(36px) ;
 }

 /* button 44 */

 #button-44 {

 	transition:All 4.4813s ease;
    -webkit-transition:All 4.4813s ease;
    -moz-transition:All 4.4813s ease;
    -o-transition:All 4.4813s ease;

 }

 #button-44:active {

  color: yellow;
  -webkit-transform: rotateY(60deg)   ;
  transform: rotateY(60deg)   ;

 }

 /* button 45 */

 #button-45 {

	transition:All 2s ease;
    -webkit-transition:All 2s ease;
    -moz-transition:All 2s ease;
    -o-transition:All 2s ease;
 }

 #button-45:hover {
 	color: yellow;
 	-webkit-transform:   translateX(0px) translateY(-20px) translateZ(0px) ;
 	-webkit-transform:   translateX(0px) translateY(-20px) translateZ(0px) ;
 }

 /* button 46 */

 #button-46 {

 	transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
 }

 #button-46:hover {
  color: yellow;
  -webkit-transform: rotateY(360deg)   ;
  transform: rotateY(360deg)   ;

 }

/* button 47 */

#button-47 {
 	transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

#button-47:active {
color: yellow;
-webkit-transform:   translateX(100px) translateY(-100px) translateZ(0px) ;
-webkit-transform:   translateX(100px) translateY(-100px) translateZ(0px) ;
width: 150px;
height: 150px;
}

/* button 48 */

#button-48 {
 	transition:All 3s ease;
    -webkit-transition:All 3s ease;
    -moz-transition:All 3s ease;
    -o-transition:All 3s ease;
}

#button-48:active {
	color: yellow;
	background-color: blue;
	-webkit-transform:   translateX(0px) translateY(1000px) translateZ(0px) ;
    -webkit-transform:   translateX(0px) translateY(1000px) translateZ(0px) ;
}

/* button 49 */

#button-49 {
 	transition:All 3s ease;
    -webkit-transition:All 3s ease;
    -moz-transition:All 3s ease;
    -o-transition:All 3s ease;
}

#button-49:active {
color: yellow;
width: 600px;
height: 600px;
  -webkit-transform: rotateX(360deg)   ;
  transform: rotateX(360deg)   ;
}

/* button 50 */

#button-50 {
}

#button-50:hover {
		background-image: url('../photos/SNATCHED.jpg');
		width: 500px;
		height: 500px;
}